<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title><%= site.title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/course/search.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://sdk.cocoafish.com/js/cocoafish-1.2.min.js"></script>
    <script type="text/javascript" src="/js/course/init.js"></script>
    <script type="text/javascript" src="/js/datamanager/clubmanager.js"></script>
</head>
<body>
<input id="pac-input" class="controls" type="text" placeholder="Enter a Golf Course and Location - Select from DropDown">

<div id="map-canvas"></div>
</body>
</html>