<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title><%= site.title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/course/search.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/course/init.js"></script>
    <script type="text/javascript" src="/js/datamanager/clubmanager.js"></script>
</head>
<body>
<div id="nav">the nav <a href="/logout" id="logout">Logout</a></div>

<input id="pac-input" class="controls" type="text" placeholder="Enter a Golf Course and Location - Select from DropDown">

<div id="map-canvas"></div>
</body>
</html>