extends layout
block head
    <meta name="robots" content="noimageindex" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/ico/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/ico/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/ico/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/ico/apple-touch-icon-144x144-precomposed.png" />
    <script type="text/javascript" src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/scripts/jquery.js"></script>
    <script type="text/javascript" src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/scripts/bluebar.js"></script>
    <script type="text/javascript" src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/scripts/public/slideshow.js"></script>
    link(rel="stylesheet", type="text/css", href="/stylesheets/home.css")
block content
    body(class="page-home")
        .root
            .page
                .main
                    #home-bg
                    .wrap
                        #iphone.home-phones
                            #iphone-overlay
                                img(src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/homepage/screenshot1.jpg" class="active")
                                img(src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/homepage/screenshot2.jpg")
                                img(src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/homepage/screenshot3.jpg")
                                img(src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/homepage/screenshot4.jpg")
                                img(src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/homepage/screenshot5.jpg")
                            i(class="home-phones-glare")
                        .content
                            a(href="/login", class="home-login") Log in
                            h1(class="instagram-title") Instagram - Fast, beautiful photo sharing for your iPhone
                            .tab
                                .tab-content
                                    h1 Golf GPS and Score Keeping
                                    p Leaderboard Tour is a <strong>fast</strong>, <strong>easy</strong> and <strong>fun</strong> way to know your distances on the golf course.
                                    p Golf gps and score keeping on iPhone and Pebble watch.  <a href="/course/list">Add your course today</a> to be ready for the iWatch.  Currently available for all Pebble watches.
                                    p Oh yeah, did we mention the first year is free?
                                    .platform-badge-container
                                    a(class="platform-badge", href="/download/ios/"): img(src="//d36xtkk24g8jdx.cloudfront.net/bluebar/309f14d/images/public/badge_ios.png", alt="Available on the App Store")
                                    a(class="platform-badge", href="/course/search"): img(src="/images/button/add-course.png", alt="Add your course today!")
            footer(class="page-footer", role="contentinfo")
                .wrapper
                    nav
                        ul
                            li: a(href="/about/us/") About us
                            <li><a href="http://help.instagram.com/">Support</a></li>
                            <li><a href="/about/legal/privacy/">Privacy</a></li>
                            <li><a href="/about/legal/terms/">Terms</a></li>
                    p(class="copyright") &copy; 2014 #{site.title}
            #reactModalMountPoint